.app {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #eee;
  font-size: 18px;
  line-height: 20px;
}

h2 {
  margin: 0 0 20px;
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.btn {
  margin-right: 10px;
  :last-child {
    margin-right: 0;
  }
}